# Core Dependencies
numpy==1.26.4
pandas==2.1.4
scipy==1.15.1
scikit-learn==1.6.1
joblib==1.4.2
threadpoolctl==3.5.0
tensorflow==2.18.0
torch==2.5.1
keras==3.8.0
h5py==3.12.1
protobuf==5.27.3
tensorboard==2.18.0
Flask==2.0.3
Flask-Cors==3.0.10
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
pymongo==4.10.1
psutil==6.0.0
folium==0.19.4
geopandas==1.0.1
geopy==2.4.1
osmnx==2.0.1
shapely==2.0.6
requests==2.32.3
beautifulsoup4==4.12.3
gazpacho==1.1

jupyterlab==4.2.3
jupyter_server==2.14.1
notebook==7.2.1
ipython==8.26.0
ipykernel==6.29.4
python-dotenv==1.0.1
PyYAML==6.0.1
rich==13.7.1
tqdm==4.66.4
altair==5.3.0
plotly
streamlit==1.37.0
pydeck==0.9.1
s
APScheduler==3.10.4
pygame==2.6.1
XlsxWriter==3.1.9
